<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Burstcoin Assets</title>

        <meta http-equiv="refresh" th:content="${refreshContent}"/>
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript" th:inline="javascript">
            /*<![CDATA[*/
            google.charts.load("current", {packages: ["corechart"]});

            /*[+
             var assetCandleStickBeans = [[${assetCandleStickBeans}]];
             +]*/

            function showChart(id)
            {
                document.getElementById(id).style.display = 'none';

                for(i = 0; i < assetCandleStickBeans.length; i++)
                {
                    var candlestickBean = assetCandleStickBeans[i];
                    if(candlestickBean.asset+"x" == id)
                    {
                        drawChart(candlestickBean);
                    }
                }
            }

            function drawChart(assetCandleStickBean)
            {
                if(assetCandleStickBean.candleStickData != null)
                {
                    var data = google.visualization.arrayToDataTable(assetCandleStickBean.candleStickData, true);
                    var options = {
                        legend: 'none',
                        backgroundColor: {fill: 'transparent', strokeWidth: 0},
                        chartArea: {left: 70, top: 10, width: '100%', height: '260px'},
                        candlestick: {
                            fallingColor: {strokeWidth: 0, fill: '#a52714'}, // red
                            risingColor: {strokeWidth: 0, fill: '#0f9d58'}   // green
                        },
                        hAxis: {title: 'Days ago (360 blocks per day / 24h)', titleTextStyle: {color: '#000000'}, showTextEvery: 2},
                        vAxis: {title: 'Price in BURST', titleTextStyle: {color: '#000000'}}

                    };
                    var chart = new google.visualization.CandlestickChart(document.getElementById(assetCandleStickBean.asset));
                    chart.draw(data, options);
                }
            }

            /*]]>*/
        </script>

    </head>

    <body>
        <div class="container">

            <div th:include="navigation"></div>

            <div class="jumbotron">
                <h1 class="display-3">Burstcoin Assets</h1>

                <p class="lead">This page updates every <span th:text="${interval / 60}"></span> minutes (Data updated <span
                        th:text="${lastUpdate / 60}"></span> minutes ago.) and shows the Burstcoin Assets.</p>
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Issuance TransactionID</th>
                            <th>Name</th>
                            <th>Holders</th>
                            <th>Asks</th>
                            <th>Bids</th>
                            <th>Trades</th>
                            <th>Price</th>
                            <th>VolumeWeek</th>
                            <th>VolumeMonth</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div th:each="assetBean,iterStat : ${assetBeans}">
                            <tr>
                                <td>
                                    <span>
                                        <a th:href="'http://burstcoin.biz/transaction/' + ${assetBean.asset}" th:text="${assetBean.asset}"
                                           th:title="'TransactionID: '+${assetBean.asset}" target="_blank" class="btn-link" style="color: black;"></a>
                                        <a th:href="'https://wallet.burst-team.us/index.html#asset:' + ${assetBean.asset}"
                                           title="Open in Asset-Exchange, using Online-Wallet." target="_blank" class="btn-link" style="color: black;">O</a>
                                        <a th:href="'http://localhost:8125/index.html#asset:' + ${assetBean.asset}"
                                           title="Open in Asset-Exchange, using Local-Wallet." target="_blank" class="btn-link" style="color: black;">L</a>
                                    </span>
                                </td>
                                <td>
                                    <a th:href="'http://burstcoin.biz/address/' + ${assetBean.account}" th:text="${assetBean.name}"
                                       th:title="'Issuer AccountID: '+${assetBean.accountRS}" target="_blank" class="btn-link" style="color: black;"></a>
                                </td>
                                <td th:text="${assetBean.numberOfAccounts}"></td>
                                <td th:text="${assetBean.numberOfSellOrders}"></td>
                                <td th:text="${assetBean.numberOfBuyOrders}"></td>
                                <td th:text="${assetBean.numberOfTrades}"></td>
                                <td th:text="${assetBean.lastPrice}"></td>
                                <th scope="row" th:text="${#numbers.formatInteger(assetBean.volume7Days,0,'DEFAULT')}"></th>
                                <td th:text="${#numbers.formatInteger(assetBean.volume30Days,0,'DEFAULT')}"></td>
                            </tr>
                            <tr>
                                <td th:text="${assetBean.description}" colspan="8"></td>
                                <td colspan="1" style="vertical-align: bottom;">
                                    <span th:id="${assetBean.asset} + 'x'" class="btn btn-secondary" role="button" onclick="showChart(this.id)">Show chart</span>
                                </td>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                                <td th:id="${assetBean.asset}" colspan="9"></td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>

    </body>
</html>