<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Burstcoin Assets</title>

        <meta http-equiv="refresh" th:content="${refreshContent}"/>
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>

    <body>
        <div class="container">

            <div th:include="navigation"></div>

            <div class="jumbotron">
                <h1 class="display-3">Burstcoin Assets</h1>
                <p class="lead">This page updates every 10 minutes and shows the Burstcoin Assets.</p>
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>AssetId</th>
                            <th>Name</th>
                            <th>Holders</th>
                            <th>SellOrders</th>
                            <th>BuyOrders</th>
                            <th>Trades</th>
                            <!--<th>Last Price</th>-->
                            <th>VolumeWeek</th>
                            <th>VolumeMonth</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="assetInfo,iterStat : ${assetInfos}" data-toggle="tooltip" th:title="${assetInfo.description}">
                            <td th:text="${assetInfo.asset}"></td>
                            <td th:text="${assetInfo.name}"></td>
                            <td th:text="${assetInfo.numberOfAccounts}"></td>
                            <td th:text="${assetInfo.numberOfSellOrders}"></td>
                            <td th:text="${assetInfo.numberOfBuyOrders}"></td>
                            <td th:text="${assetInfo.numberOfTrades}"></td>
                            <!--<td th:text="${assetInfo.lastPrice}"></td>-->
                            <th scope="row" th:text="${assetInfo.volume7Days}"></th>
                            <td th:text="${assetInfo.volume30Days}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </body>
</html>