<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Burstcoin Network</title>

        <meta http-equiv="refresh" th:content="${refreshContent}"/>
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>

    <body>
        <div class="container" >

            <div th:include="navigation"></div>

            <div class="jumbotron">

                <h1 class="display-3">Burstcoin Network</h1>

                <p class="lead">This page updates every <span th:text="${interval}"></span> seconds and should provide a quick overview of Burstcoin network.</p>
                <p class="lead" th:text="${lastBlockWithSameGenSig}"></p>

                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Block</th>
                            <th>BaseTarget</th>
                            <th>Type</th>
                            <th>Domain</th>
                            <th>GenerationSignature</th>
                            <th>TargetDeadline</th>
                            <th>Forked</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="infoBean,iterStat : ${infoBeans}">
                            <th scope="row" th:text="${infoBean.height}"></th>
                            <td th:text="${infoBean.baseTarget}"></td>
                            <td th:text="${infoBean.type}"></td>
                            <td th:text="${infoBean.domain}"></td>
                            <td th:text="${infoBean.generationSignature}"></td>
                            <td th:text="${infoBean.targetDeadline}"></td>
                            <td th:text="${infoBean.fork}"></td>
                        </tr>

                    </tbody>
                </table>
                <p class="lead">This list does not contain all nodes of Burstcoin network, only a manual configured subset.</p>
            </div>
        </div>

    </body>
</html>