<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Burstcoin Observer API</title>
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <div class="container">

            <div th:include="navigation"></div>

            <div class="jumbotron">

                <h1 class="display-3">API</h1>

                <p class="lead">All data is also available via JSON or JSONP</p>
                <p class="lead">NOTCIE: The API is subject to change, until a solid format is finished.</p>

                <h2>Network data</h2>
                <p class="lead"><span th:text="${observerUrl}"></span>/network/json</p>
                <p class="lead"><span th:text="${observerUrl}"></span>/network/jsonp?callback=callbackName</p>

                <h2>Node data</h2>
                <p class="lead"><span th:text="${observerUrl}"></span>/node/json</p>
                <p class="lead"><span th:text="${observerUrl}"></span> /node/jsonp?callback=callbackName</p>

                <h2>Pool data</h2>
                <p class="lead"><span th:text="${observerUrl}"></span>/pool/json</p>
                <p class="lead"><span th:text="${observerUrl}"></span>/pool/jsonp?callback=callbackName</p>

                <h2>Asset data</h2>
                <p class="lead"><span th:text="${observerUrl}"></span>/asset/json</p>
                <p class="lead"><span th:text="${observerUrl}"></span>/asset/jsonp?callback=callbackName</p>

                <h2>Crowdfund data</h2>
                <p class="lead"><span th:text="${observerUrl}"></span>/crowdfund/json</p>
                <p class="lead"><span th:text="${observerUrl}"></span>/crowdfund/jsonp?callback=callbackName</p>

            </div>

            <br/>
            <div class="alert alert-info">
                You like this page? You can donate some BURST to support future development <strong>BURST-LUXE-RED2-G6JW-H4HG5</strong>
            </div>
        </div>

    </body>
</html>